body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#main {
	width: 800px;  
	margin: auto;
}
#header {
	margin-bottom: 50px;
}
#content {
    margin: auto;
}
#description {
	width: 50%;
    float: left;
    padding-right: 30px;
}
#location {
	padding-left: 20px;
}
#map {
	width: 350px;
    height: 350px;
}
#sensors {
	float: left;
	margin-top: 20px;
}
.platform {
	padding-bottom: 20px;
}
.sensor {
	padding-bottom: 10px;
}